{{ define "main" }} 

<div class="py-2 flex flex-col gap-1">
  <h3 class="title-small">Contact me</h3>
</div>

<hr/>

<div class="mt-2">
    <a class="contact-more" href="mailto:inkosizhong@gmail.com">
      Email: inkosizhong@gmail.com
      <span class="w-4 h-4 stroke-2">
        {{ partial "utils/icon" "arrow-right" }}
      </span>
    </a>
</div>
<div class="mt-2">
    <a class="contact-more">
      Wechat: InkosiZhong
    </a>
</div>
<div class="mt-2">
    <a class="contact-more" href="https://github.com/InkosiZhong">
      GitHub: https://github.com/InkosiZhong
      <span class="w-4 h-4 stroke-2">
        {{ partial "utils/icon" "arrow-right" }}
      </span>
    </a>
</div>

{{ end }}