{{ $avatar := resources.GetMatch .Site.Params.avatar }} 
{{ $tiny := ($avatar.Fill "320x320 q90") }}

<div class="flex-none rounded-full overflow-hidden">
  <style>
    .avator {
      width: 8em;
    }
  </style>
  <a href="{{ .Site.BaseURL }}">
    <img
      class="avator"
      srcset="{{- with $tiny.RelPermalink -}}{{.}} 80w{{- end -}}"
      src="{{ $avatar.RelPermalink }}"
      width="{{ $avatar.Width }}"
      height="{{ $avatar.Height }}"
      alt="{{ .Site.Title }}"
    />
  </a>
</div>
