<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default `en` }}" class="scroll-smooth dark">
  <head>
    {{- partial "head/index" . -}}
  </head>

  <body class="mx-auto">
    <style>
      body {
        padding-left: 20px;
        padding-right: 20px;
        max-width: 808px;
      }
    </style>
    <div class="header">
      {{ partial "header/index" . }}
      <!--{{ partial "header/theme-button" . }}-->
    </div>
    <div>
      {{ partial "header/nav" . }}
    </div>
  
    <main id="content">
      {{- block "main" . -}}
      {{- end }}
    </main>

    {{- partial "footer/index" . -}}
  </body>
</html>
