<div class="meta sm:flex-row">
    {{/* Publish date */}}
    <time datetime="{{ .PublishDate }}" title='{{ .PublishDate.Format "Mon, Jan 2, 2006, 3:04 PM MST" }}'>
    {{ .PublishDate.Format "02/01/2006" }}
    </time>
    {{ if .Params.Period }}
    <nobr>{{ .Params.Period }}</nobr>
    {{ end }}

    {{/* Categories */}} 
    {{ with (.GetTerms "categories") }} — 
    {{ range . }}
        <a class="categories" href="{{ .RelPermalink }}" alt="{{ .LinkTitle }}">
        {{ .LinkTitle }}
        </a>
    {{ end }}
    {{ end }}

    {{ if .Params.Language }}
    <nobr>{{ .Params.Language }}</nobr>
    {{ end }}

    {{ if .Params.Platform }}
    <nobr>{{ .Params.Platform }}</nobr>
    {{ end }}
    
    {{ if .Params.link }}
    <a class="categories link" href="{{ .Params.link }}">
    <nobr>Link</nobr>
    </a>
    {{ end }}
</div>