<div class="meta sm:flex-row">
    <style>
        @media screen and (max-width: 600px) {
            .link {
                display: none;
            }
        }
        @media screen and (min-width: 600px) {
            .link-nl {
                display: none;
            }
        }
    </style>
    {{/* Publish date */}}
    <time datetime="{{ .PublishDate }}" title='{{ .PublishDate.Format "Mon, Jan 2, 2006, 3:04 PM MST" }}'>
    {{ .PublishDate.Format "02/01/2006" }}
    </time>
    {{ if .Params.Period }}
    <nobr>{{ .Params.Period }}</nobr>
    {{ end }}

    {{/* Categories */}} 
    {{ with (.GetTerms "categories") }} — 
    {{ range . }}
        <a class="categories" href="{{ .RelPermalink }}" alt="{{ .LinkTitle }}">
        {{ .LinkTitle }}
        </a>
    {{ end }}
    {{ end }}

    {{ if .Params.Rating }}
    <nobr>{{ .Params.Rating }}</nobr>
    {{ end }}

    {{ if .Params.Author }}
    <p>{{ .Params.Author }}</p>
    {{ end }}
    
    {{ if .Params.link }}
    <a class="categories link" href="{{ .Params.link }}">
    <nobr>Link</nobr>
    </a>
    {{ end }}
    
    {{ if .Params.pdf }}
    <a class="categories link" href="{{ .Params.pdf }}">
    <nobr>PDF</nobr>
    </a>
    {{ end }}
    
    {{ if .Params.demo }}
    <a class="categories link" href="{{ .Params.demo }}">
    <nobr>Demo</nobr>
    </a>
    {{ end }}
</div>
<div class="meta sm:flex-row" style="margin-top: -20px;">
    {{ if .Params.link }}
    <a class="categories link-nl" href="{{ .Params.link }}">
        <nobr>Link</nobr>
    </a>
    {{ end }}
    
    {{ if .Params.pdf }}
    <a class="categories link-nl" href="{{ .Params.pdf }}">
        <nobr>PDF</nobr>
    </a>
    {{ end }}
</div>