{{ define "main" }} 

{{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }} 
{{ $paginator := .Paginate $pages }}

<div class="py-2 flex flex-col gap-1">
  <h3 class="title-small">Publications</h3>
</div>

<hr/>

<div class="py-2 flex flex-col gap-1">
  <div class="information">
    VFRTok: Variable Frame Rates Video Tokenizer with Duration-Proportional Information Assumption
  </div>
  <div class="author">
    <span>Tianxiong Zhong</span>, Xingye Tian, Boyuan Jiang, Xuebo Wang, Xin Tao, Pengfei Wan, and Zhiwei Zhang
  </div>
  <div class="source">
    <span>Conference and Workshop on Neural Information Processing Systems (NeurIPS), 2025</span>
  </div>
</div>

<div class="py-2 flex flex-col gap-1">
  <div class="information">
    VIVID-10M: A Dataset and Baseline for Versatile and Interactive Video Local Editing
  </div>
  <div class="author">
    Jiahao Hu, <span>Tianxiong Zhong</span>, Xuebo Wang, Boyuan Jiang, Xingye Tian, Fei Yang, Pengfei Wan, and Di Zhang
  </div>
  <div class="source">
    arXiv preprint arXiv
  </div>
</div>

<div class="py-2 flex flex-col gap-1">
  <div class="information">
    QaVA: Query-aware Video Analysis Framework Based on Data Access Pattern
  </div>
  <div class="author">
    <span>Tianxiong Zhong</span>, Zhiwei Zhang, Yihang Fu, Guo Lu, Ye Yuan, and Guoren Wang
  </div>
  <div class="source">
    <span>IEEE International Conference on Data Engineering (ICDE),2025</span>
  </div>
</div>

<div class="py-2 flex flex-col gap-1">
  <div class="information">
    TVM: A Tile-based Video Management Framework
  </div>
  <div class="author">
    <span>Tianxiong Zhong</span>, Zhiwei Zhang, Guo Lu, Ye Yuan, Yu-Ping Wang, and Guoren Wang
  </div>
  <div class="source">
    <span>International Conference on Very Large Data Bases (VLDB),2024</span>
  </div>
</div>

<div class="py-2 flex flex-col gap-1">
  <div class="information">
    Learning based Multi-modality Image and Video Compression
  </div>
  <div class="author">
    Guo Lu, <span>Tianxiong Zhong</span>, Jing Geng, Qiang Hu, and Dong Xu
  </div>
  <div class="source">
    <span>IEEE Conference on Computer Vision and Pattern Recognition (CVPR),2022</span>
  </div>
</div>

<div class="py-2 flex flex-col gap-1">
  <div class="information">
    GTMS: A Gradient-driven Tree-guided Mask-free Referring Image Segmentation Method
  </div>
  <div class="author">
    Haoxin Lv, <span>Tianxiong Zhong</span>, and Sanyuan Zhao
  </div>
  <div class="source">
    European Conference on Computer Vision (ECCV),2024
  </div>
</div>

<div class="py-2 flex flex-col gap-1">
  <div class="information">
    Preprocessing Enhanced Image Compression for Machine Vision
  </div>
  <div class="author">
    Guo Lu, Xingtong Ge, <span>Tianxiong Zhong</span>, Jing Geng, Li Chen, Li Song
  </div>
  <div class="source">
    IEEE Transactions on Circuits and Systems for Video Technology
  </div>
</div>

<div class="py-2 flex flex-col gap-1">
  <div class="information">
    A Transformer based deep conditional video compression
  </div>
  <div class="author">
    Guo Lu, <span>Tianxiong Zhong</span>, Jing Geng
  </div>
  <div class="source">
    Journal of Beijing University of Aeronautics and Astronautics (JBUAA)
  </div>
</div>

{{ if gt $paginator.TotalPages 1 }}
  {{ partial "list/pagination" . }} 
{{ end }}

{{ end }}
