{{ define "main" }} 

{{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }} 
{{ $paginator := .Paginate $pages }}

<div class="introduction">
  I am a master's student at the <span>Beijing Institute of Technology</span>. 
  My research interests focus on <span>video database</span>, <span>video compression</span> and <span>deep learning</span>.
</div>

<div class="py-2 flex flex-col gap-1">
  <h3 class="title-small">Publications</h3>
</div>

<hr/>

<div class="py-2 flex flex-col gap-1">
  <div class="information">
    <span>[VLDB 2024]</span> TVM: A Tile-based Video Management Framework
  </div>
  <div class="author">
    <span>Tianxiong Zhong</span>, Zhiwei Zhang, Guo Lu, Ye Yuan, Yu-Ping Wang, Guoren Wang
  </div>
  <div class="source">
    International Conference on Very Large Data Bases (VLDB),2024
  </div>
</div>

<div class="py-2 flex flex-col gap-1">
  <div class="information">
    <span>[CVPR 2022]</span> Learning based Multi-modality Image and Video Compression
  </div>
  <div class="author">
    Guo Lu, <span>Tianxiong Zhong</span>, Jing Geng, Qiang Hu, and Dong Xu
  </div>
  <div class="source">
    IEEE Conference on Computer Vision and Pattern Recognition (CVPR),2022
  </div>
</div>

<div class="py-2 flex flex-col gap-1">
  <div class="information">
    <span>[ChinaMM 2022]</span> A Transformer based deep conditional video compression
  </div>
  <div class="author">
    Guo Lu, <span>Tianxiong Zhong</span>, Jing Geng
  </div>
  <div class="source">
    China Multimedia (ChinaMM),2022
  </div>
</div>

<div class="py-2 flex flex-col gap-1">
  <div class="information">
    <span>[Arxiv]</span> Preprocessing Enhanced Image Compression for Machine Vision
  </div>
  <div class="author">
    Guo Lu, Xingtong Ge, <span>Tianxiong Zhong</span>, Jing Geng, Li Chen, Li Song
  </div>
  <div class="source">
    The arXiv.org e-Print archive
  </div>
</div>

<div class="py-2 flex flex-col gap-1">
  <h3 class="title-small">Developments</h3>
</div>

<hr/>

<div class="py-2 flex flex-col gap-1">
  <div class="information">
    <span>Space</span>: Multifunction Screenshot Application based on QT
  </div>
  <div class="description">
    The inspiration for this software comes from when organizing notes. 
    I hope that taking screenshots from PPT or other materials can remove the background color 
    and ensure the neatness of the notes.
  </div>
  <div class="mt-2">
    <a class="read-more" href="https://github.com/InkosiZhong/Space">
      Learn more
      <span class="w-4 h-4 stroke-2">
        {{ partial "utils/icon" "arrow-right" }}
      </span>
    </a>
  </div>
</div>

<div class="py-2 flex flex-col gap-1">
  <div class="information">
    <span>Texal</span>: Text Calculator for IOS based on Swift
  </div>
  <div class="description">
    I was deeply attracted by Numi (on MacOS) and 
    wanted to have such a convenient and intuitive calculator on my mobile phone.
    Since there is no such software in the AppStore, I have to write one myself.
  </div>
  <div class="mt-2">
    <a class="read-more" href="{{ .Permalink }}">
      {{ i18n "readMore" }}
      <span class="w-4 h-4 stroke-2">
        {{ partial "utils/icon" "arrow-right" }}
      </span>
    </a>
  </div>
</div>

<div class="py-2 flex flex-col gap-1">
  <div class="information">
    <span>Chopsticks</span>: Sequential Task  Manager for Linux and MacOS
  </div>
  <div class="description">
    I often run complex computing jobs on a single node.
    When I am ready to leave, and the submitted task has not yet finished, 
    I still wanna append new tasks so that it has done more work when I come back.
    Therefore I build a task manager similar to SLURM, but in a serial execution style.
  </div>
  <div class="mt-2">
    <a class="read-more" href="https://github.com/InkosiZhong/Chopsticks">
      Learn more
      <span class="w-4 h-4 stroke-2">
        {{ partial "utils/icon" "arrow-right" }}
      </span>
    </a>
  </div>
</div>

<div class="py-2 flex flex-col gap-1">
  <div class="information">
    <span>Reboot-to-Windows</span>: Simple service to reboot Linux to ANY system
  </div>
  <div class="description">
    Many computing computers I use have multi-systems (Windows+Ubuntu). 
    I use GRUB to select the system, and the default one is Linux. 
    I need to be able to reboot from Linux to any other system when the computer is unattended.
  </div>
  <div class="mt-2">
    <a class="read-more" href="https://github.com/InkosiZhong/reboot-to-windows">
      Learn more
      <span class="w-4 h-4 stroke-2">
        {{ partial "utils/icon" "arrow-right" }}
      </span>
    </a>
  </div>
</div>

<div class="py-2 flex flex-col gap-1">
  <h3 class="title-small">Projects</h3>
</div>

<hr/>

<div class="py-2 flex flex-col gap-1">
  <div class="information">
    <span>Automatic Refueling Robot</span>
  </div>
  <div class="description">
    This project is the starting point of my scientific research.
    Through my own exploration, I learned several programming languages, 
    Linux usage, basic computer vision algorithms, Socket communication and GUI programming. 
    I got started with machine learning and deep learning.
    Meanwhile, I accumulated some experience in edge device transplantation.
  </div>
  <div class="mt-2">
    <a class="read-more" href="{{ .Permalink }}">
      Read more
      <span class="w-4 h-4 stroke-2">
        {{ partial "utils/icon" "arrow-right" }}
      </span>
    </a>
  </div>
</div>

<!--
<div class="py-2 flex flex-col gap-1">
  <h3 class="title-small">{{ i18n "latestPosts" }}...</h3>
</div>

<hr/>

<section class="pb-10 flex flex-col gap-10">
  {{ range $index, $pages := $paginator.Pages }} 
    {{ partial "list/default" . }} 
  {{ end }}
</section>
-->

{{ if gt $paginator.TotalPages 1 }}
  {{ partial "list/pagination" . }} 
{{ end }}

{{ end }}
