{{ define "main" }} 

<!-- {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }} -->
{{ $pages :=site.RegularPages }}
{{ $paginator := .Paginate $pages }}

<div class="py-2 flex flex-col gap-1">
  <h3 class="title-small">Academic timeline</h3>
</div>

<hr/>

<section class="flex flex-col gap-10">
  <ul class="taxonomy-list">
    {{ range $index, $pages := .Pages }} 
      <li>
        <a href=" {{ .Permalink }} ">
          {{ .Title }} ({{ len .Pages }})
        </a>
      </li>
    {{ end }}
  </ul>
</section>

<section class="pb-10 flex flex-col gap-10">
  {{ range $index, $pages := $paginator.Pages }} 
    {{ partial "list/default" . }} 
  {{ end }}
</section>

{{ if gt $paginator.TotalPages 1 }}
  {{ partial "list/pagination" . }} 
{{ end }}

{{ end }}